@media screen and (max-width: 1199px) {
    .header__container .whiteLine.down,
    .header__container nav .nav_soc:before,
    .header__container nav .nav_soc::after {
        display: none;
    }
    .header__container .nav_soc .nav_main {
        margin-left: 0;
    }
    header {
        padding: 23px 0;
    }
    .header__container nav .nav_soc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .jumbotron-overlap {
        margin-top: 0;
    }
    .first-slider {
        margin-bottom: 45px;
    }
    .btn_second_slider {
        width: 40px;
        height: 40px;
        border-radius: 2px;
    }
    .btn_sec_prev:before,
    .btn_sec_next:before {
        width: 20px;
    }
    .first-slider .slide h1 {
        font-size: 28px;
    }
    .first-slider .slide .slide_text {
        margin-top: 130px;
    }
    .first-slider .slide span {
        font-size: 14px;
        margin-top: 15px;
    }
    .btn_sec_next {
        transform: translateX(50px);
    }
    .jumbotron-overlap .info-block .block h3,
    .jumbotron-overlap .info-block .block h5 a {
        font-size: 23px;
    }
    .jumbotron-overlap .info-block {
        gap: 20px;
    }
    section.news .info-block .block .text-news h4 {
        font-size: 18px;
    }
    .accordion-form form #collapse1 .accordion-body {
        grid-template-columns: repeat(auto-fill, minmax(180px, auto));
    }
    .testimonials .info-block .block .block-comment .comment {
        font-size: 15px;
    }
    .accordion-form form #collapse4 .accordion-body .form-group .desc {
        font-size: 14px;
    }
    .address-time-form .info-block .block .address span, .address-time-form .info-block .block .time h3, .address-time-form .info-block .block.form-block h3 {
        font-size: 23px;
    }
    .info-text-dr .accordion #collapseDr2 h2 {
        font-size: 30px;
    }
    .first-slider .slide img {
        transform: none;
    }
}

@media screen and (max-width: 991px) {
    .header__container nav {
        background-color: var(--white);
        max-height: 0;
        transition: all .3s;
        overflow: hidden;
    }
    .header__container .nav_soc .nav_main ul li a {
        color: var(--color);
    }
    .header__container .nav_soc .nav_main ul li.main-li > a,
    .header__container .nav_soc .nav_main ul li.main-li:hover > a {
        padding: 18px 20px;
    }
    .header__container .nav_soc .nav_main ul li.main-li:hover > a {
        margin-top: 0;
    }
    .header__container .nav_soc .nav_main ul li:not(:last-of-type):before {
        display: none;
    }
    .header__container .nav_main ul {
        flex-direction: column;
    }
    .header__container .nav_soc .nav_main ul li {
        text-align: center;
        border-bottom: 1px solid var(--gray01);
    }
    .header__container .nav_soc .nav_main ul li:first-of-type {
        border-top: 1px solid var(--gray01);
    }
    .header__container nav .nav_soc {
        flex-direction: column;
    }
    .header__container .nav_soc .soc {
        margin-left: 0;
    }
    .header__container .nav_soc .nav_main ul li a {
        display: inline-block;
    }
    .header__container .nav_soc .nav_main {
        width: 100%;
        border-bottom: 3px solid var(--gray01);
    }
    .header__container .nav_soc .nav_main .main-li::after {
        right: auto;
    }
    .header__container .nav_soc .nav_main .main-li::after {
        border-top: 5px solid var(--color);
    }
    header .logo__nav {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nav {
        justify-content: center;
        margin-top: 10px;
    }
    header .nav .contact .icon-box {
        margin-top: 10px;
    }
    .header__container header .logo__nav .logo-btnMenu .btn-menu  {
        display: flex;
    }
    .header__container .nav_soc .nav_main ul li > ul {
        top: 0;
        right: 0;
        background-color: var(--white);
        border: 1px solid var(--gray01)
    }
    .h3-title,
    .our-core .info-block h3 {
        font-size: 40px;
    }
    .our-services .info-block .block {
        padding: 20px;
    }
    .our-services .info-block,
    section.news .info-block {
        gap: 15px;
    }
    section.news .info-block .block .text-news h4 {
        font-size: 15px;
    }
    section.news .info-block .block {
        height: auto;
    }
    .accordion-form form #collapse1 .accordion-body {
        grid-template-columns: repeat(auto-fill, minmax(170px, auto));
    }
    .directions .map-price {
        grid-template-columns: 1fr;
    }
    .info-text-dr .accordion #collapseDr2 h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 767px) {
    .accordion-form form #collapse4 .accordion-body .info-block .info-block-main span, .accordion-form form #collapse4 b,
    .accordion-form form #collapse4 .accordion-body .form-group label,
    .testimonials .info-block .block .block-comment .comment,
    .testimonials .info-block .block .people div {
        font-size: 14px;
    }
    .counter .info-block {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
    .counter .info-block .block {
        border-right: 0;
        border-bottom: 1px dashed var(--gray01);
    }
    footer .footer_1 .info-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    footer .footer_1 .info-block .block {
        min-width: none;
        max-width: none;
        margin: 0;
    }
    .jumbotron-overlap .info-block .block h3, .jumbotron-overlap .info-block .block h5 a {
        font-size: 20px;
    }
    .jumbotron-overlap .info-block {
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    }
    .our-services .info-block .block .text-services h4 {
        font-size: 14px;
    }
    .our-services .info-block .block {
        padding: 20px;
    }
    .our-services .info-block {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-faq .faq a {
        font-size: 14px;
    }
    .gallery-faq .info-block .gallery {
        grid-template-columns: repeat(3 , 1fr);
    }
    .our-core .info-block p {
        font-size: 14px;
    }
    .first-slider,
    .first-slider .slide {
        height: 360px;
    }
    .first-slider .slide .slide_text {
        margin-top: 120px;
    }
    .first-slider .slide h1 {
        font-size: 25px;
    }
    .first-slider .slide .slide_text {
        width: 70%;
    }
    .aboutUs .about-accordion,
    .gallery-faq .info-block {
        grid-template-columns: 1fr;
    }
    .testimonials .info-block .block .block-comment {
        margin: 0;
        margin-bottom: 30px;
    }
    .address-time-form .info-block {
        grid-template-columns: 1fr;
    }
    .address-time-form .info-block .block .address p {
        display: flex;
        flex-direction: column;
    }
    .address-time-form .info-block .block .address p br {
        height: 0;
    }
    .title-page h1 {
        font-size: 40px;
    }
    .text-page-block .text-block .block p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .jumbotron-overlap .info-block {
        grid-template-columns: 1fr;
    }
    header .logo__nav .logo {
        width: 140px;
    }
    .jumbotron-overlap .info-block {
        gap: 30px;
    }
    section.news .info-block {
        grid-template-columns: 1fr;
    }
    section.news .info-block .block .text-news h4 {
        font-size: 18px;
    }
    .our-services .info-block .block i {
        font-size: 36px;
    }
    .our-core .info-block {
        width: 100%;
    }
    .h3-title, .our-core .info-block h3 {
        font-size: 30px;
    }
    footer .footer_1 .info-block {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
    .text-page-block .text-block .block {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}


@media screen and (max-width: 480px) {
    .first-slider .slide .slide_text {
        width: calc(100% - 30px);
    }
    .first-slider .slide h1 {
        font-size: 23px;
    }
    .our-services .info-block {
        grid-template-columns: 1fr;
    }
    .our-services .info-block, section.news .info-block,
    .partner .info-block {
        gap: 10px;
    }
    section.news .info-block .block .text-news h4 {
        font-size: 16px;
    }
    .gallery-faq .info-block .gallery {
        grid-template-columns: repeat(2 , 1fr);
    }
    .nav,
    header .nav .contact {
        width: 100%;
    }
    header .nav .contact .icon-box {
        padding: 0;
        margin-right: 0;
        border-right: 0;
        width: 100%;
    }
    header .nav .contact .icon-box {
        text-align: center;
    }
    .testimonials .h3-title {
        flex-wrap: wrap;
    }
    .testimonials .h3-title .second_slider_arrow {
        width: 100%;
    }
    .testimonials .h3-title .second_slider_arrow .btn_second {
        margin-left: 0!important;
        margin-top: 10px;
    }
    .btn_second:last-of-type:before {
        transform: rotate(0) translate(-50%, -50%);
    }
    .btn_second:first-of-type:before {
        transform: rotate(180deg) translate(50%, 50%);
    }
    .title-page h1 {
        font-size: 35px;
    }
    .title-page h3 {
        font-size: 14px;
    }
    .address-time-form .info-block .block .address span, .address-time-form .info-block .block .time h3, .address-time-form .info-block .block.form-block h3 {
        font-size: 20px;
    }
    .address-time-form .info-block .block.form-block form .form-block div input {
        width: 100%;
        margin-bottom: 10px;
    }
    .address-time-form .info-block .block.form-block form textarea {
        height: 150px;
    }
    .directions form.directions-form {
        gap: 10px;
    }
    .accordion-button {
        font-size: 16px!important;
    }
    .info-text-dr .accordion #collapseDr2 {
        font-size: 14px;
    }
    .info-text-dr .accordion #collapseDr2 h2 {
        font-size: 20px;
    }
    .info-text-dr .accordion #collapseDr1 .accordion-body {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .accordion-form form #collapse1 .accordion-body label img {
        height: 25px;
    }
    .accordion-form form #collapse1 .accordion-body {
        grid-template-columns: repeat(auto-fill, minmax(130px, auto));
    }
    .first-slider .slide h1 {
        font-size: 20px;
    }
    .first-slider .slide span {
        font-size: 13px;
    }
    .h3-title, .our-core .info-block h3 {
        font-size: 25px;
    }
    section.news .info-block .block .text-news h4,
    section.news .info-block .block .other-news h4 {
        font-size: 15px;
    }
    .our-core .info-block img {
        height: 40px;
    }
    section {
        margin-bottom: 60px;
    }
    .testimonials .info-block .block .block-comment .comment {
        font-size: 13px;
    }
    .testimonials .info-block .block .block-comment .icon {
        display: none;
    }
    .testimonials .info-block .block .block-comment {
        padding: 20px 15px;
    }
    .partner .info-block {
        grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    }
    .counter .info-block .block .number-counter span {
        font-size: 40px;
    }
    .header__container header .logo__nav .logo-btnMenu .btn-menu,
    .header__container .nav_soc .nav_main ul li, .header__container .nav_soc .nav_main ul li a.up_nav {
        font-size: 14px;
    }
    footer .footer_2 span {
        font-size: 12px;
    }
    .address-time-form .info-block .block.form-block p {
        font-size: 12px;
    }
    .address-time-form .info-block .block.form-block form .form-block div input {
        font-size: 14px;
    }
    .title-page h1 {
        font-size: 25px;
    }
    .info-text-dr .accordion #collapseDr2,
    .address-time-form .block .time {
        font-size: 14px;
    }
}


@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }